<div class="layout vertical" style="height: 100%">
    <ui-label value="i18n:dgconfig.excelFolder"></ui-label>
    <ui-prop>
        <ui-input id="excelFolderPath" placeholder="i18n:dgconfig.excelSelectTips" disabled></ui-input>
        <ui-button id="excelFolderButton" class="blue">Excel Folder</ui-button>
    </ui-prop>

    <ui-label value="i18n:dgconfig.tsScriptFolder"></ui-label>
    <ui-prop>
        <ui-input id="scriptFolderPath" placeholder="i18n:dgconfig.tsScriptSelectTips" disabled></ui-input>
        <ui-button id="scriptFolderButton" class="blue">Script Folder</ui-button>
    </ui-prop>

    <ui-label value="i18n:dgconfig.dataFolder"></ui-label>
    <ui-prop>
        <ui-input id="dataFolderPath" placeholder="i18n:dgconfig.dataFolderSelectTips" disabled></ui-input>
        <ui-button id="dataFolderButton" class="blue">Data Folder</ui-button>
    </ui-prop>

    <ui-prop>
        <ui-checkbox id="single" style="font-size: 15px;">Single Mode</ui-checkbox>
        <ui-button id="exportButton" class="blue">Export</ui-button>
    </ui-prop>
</div>